<a href="https://colab.research.google.com/github/rafaelhamer/DSWP/blob/master/Fifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercício 9
O arquivo FIFA.csv contem dados relacionados à última edição do FIFA 2018 (um dos jogos de video-game mais famosos) e traz os mais variados dados sobre os jogadores (exemplo): idade, nacionalidade, potencial, salário e etc. Faça o seguinte:

1. Carregue o arquivo FIFA.csv (está na área de Dataframes do curso);
2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
3. Qual o dtype de cada variável/atributo do dataframe?
4. Se alguma variávável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?
5. Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo;
6Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?
7. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.
8. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');
9. Qual a número de jogadores por idade?
10. Quantos jogadores possuem cada clube?
11. Qual a média de idade por clube?
12. Qual a média de salário por país?
13. Qual a média de salário por clube?
14. Qual a média de salário por idade?
15. Quanto cada clube gasta com pagamento de salários?
16. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?
17. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?
18. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?
19. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.
20. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?
21. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?
22. Quem são os outliers em termos de salário?
23. Quem são os outliers em termos de potência no chute?

In [56]:
import pandas as pd
import numpy as np

# 1) Carregue o arquivo FIFA.csv (está na área de Dataframes do curso)
df_fifa = pd.read_csv('https://raw.githubusercontent.com/rafaelhamer/DSWP/master/Dataframes/FIFA.csv', index_col=0)
df_fifa.head()

       ID               Name  Age  ... GKPositioning GKReflexes Release Clause
0  158023           L. Messi   31  ...          14.0        8.0        €226.5M
1   20801  Cristiano Ronaldo   33  ...          14.0       11.0        €127.1M
2  190871          Neymar Jr   26  ...          15.0       11.0        €228.1M
3  193080             De Gea   27  ...          88.0       94.0        €138.6M
4  192985       K. De Bruyne   27  ...          10.0       13.0        €196.4M

[5 rows x 88 columns]

In [57]:
# 2) Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
df_fifa.drop(labels=['Photo','Flag','Club Logo'], axis=1, inplace=True)

df_fifa.head()

       ID               Name  Age  ... GKPositioning  GKReflexes  Release Clause
0  158023           L. Messi   31  ...          14.0         8.0         €226.5M
1   20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
2  190871          Neymar Jr   26  ...          15.0        11.0         €228.1M
3  193080             De Gea   27  ...          88.0        94.0         €138.6M
4  192985       K. De Bruyne   27  ...          10.0        13.0         €196.4M

[5 rows x 85 columns]

In [ ]:
# 3) Qual o dtype de cada variável/atributo do dataframe?

#pd.set_option('max_rows', 85)

df_fifa.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                        object
Wage                         object
Special                       int64
Preferred Foot               object
International Reputation    float64
Weak Foot                   float64
Skill Moves                 float64
Work Rate                    object
Body Type                    object
Real Face                    object
Position                     object
Jersey Number               float64
Joined                       object
Loaned From                  object
Contract Valid Until         object
Height                       object
Weight                       object
LS                           object
ST                           object
RS                           object
LW                           object
LF                           object
CF                           object
RF                           object
RW                           object
LAM                          object
CAM                          object
RAM                          object
LM                           object
LCM                          object
CM                           object
RCM                          object
RM                           object
LWB                          object
LDM                          object
CDM                          object
RDM                          object
RWB                          object
LB                           object
LCB                          object
CB                           object
RCB                          object
RB                           object
Crossing                    float64
Finishing                   float64
HeadingAccuracy             float64
ShortPassing                float64
Volleys                     float64
Dribbling                   float64
Curve                       float64
FKAccuracy                  float64
LongPassing                 float64
BallControl                 float64
Acceleration                float64
SprintSpeed                 float64
Agility                     float64
Reactions                   float64
Balance                     float64
ShotPower                   float64
Jumping                     float64
Stamina                     float64
Strength                    float64
LongShots                   float64
Aggression                  float64
Interceptions               float64
Positioning                 float64
Vision                      float64
Penalties                   float64
Composure                   float64
Marking                     float64
StandingTackle              float64
SlidingTackle               float64
GKDiving                    float64
GKHandling                  float64
GKKicking                   float64
GKPositioning               float64
GKReflexes                  float64
Release Clause               object
dtype: object

In [58]:
pd.set_option('max_rows', 10)
pd.set_option('display.precision', 2)

# 4) Se alguma variávável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?

def converte(euros):
  euros=euros.replace('€','')

  if euros.find('M') > 0: 
    f_valor = float(euros.replace('M','')) * 1000000
  elif euros.find('K') > 0: 
    f_valor = float(euros.replace('K','')) * 1000
  else:
    f_valor = float(euros)

  return f_valor

df_fifa['Value'] = df_fifa['Value'].apply(converte)
df_fifa['Wage'] = df_fifa['Wage'].apply(converte)
df_fifa

           ID                Name  ...  GKReflexes Release Clause
0      158023            L. Messi  ...         8.0        €226.5M
1       20801   Cristiano Ronaldo  ...        11.0        €127.1M
2      190871           Neymar Jr  ...        11.0        €228.1M
3      193080              De Gea  ...        94.0        €138.6M
4      192985        K. De Bruyne  ...        13.0        €196.4M
...       ...                 ...  ...         ...            ...
18202  238813        J. Lundstram  ...         9.0          €143K
18203  243165  N. Christoffersson  ...        12.0          €113K
18204  241638           B. Worman  ...        13.0          €165K
18205  246268      D. Walker-Rice  ...         9.0          €143K
18206  246269           G. Nugent  ...         9.0          €165K

[18207 rows x 85 columns]

In [61]:
# 5) Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo; 

df_fifa.columns = [col.lower() for col in df_fifa.columns]
df_fifa.head()

       id               name  age  ... gkpositioning  gkreflexes  release clause
0  158023           L. Messi   31  ...          14.0         8.0         €226.5M
1   20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
2  190871          Neymar Jr   26  ...          15.0        11.0         €228.1M
3  193080             De Gea   27  ...          88.0        94.0         €138.6M
4  192985       K. De Bruyne   27  ...          10.0        13.0         €196.4M

[5 rows x 85 columns]

In [ ]:
# 6) Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?

# SIM. NÃO FAZER NADA.

In [ ]:
# 6) Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.

pd.value_counts(df_fifa['nationality'])

England      1662
Germany      1198
Spain        1072
Argentina     937
France        914
             ...
Guam            1
Grenada         1
St Lucia        1
Fiji            1
Liberia         1
Name: nationality, Length: 164, dtype: int64

In [ ]:
# 7) Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');

df_fifa.groupby('nationality').agg({'age':'mean'})

               age
nationality
Afghanistan  22.50
Albania      24.02
Algeria      27.05
Andorra      28.00
Angola       25.87
...            ...
Uzbekistan   29.50
Venezuela    24.31
Wales        24.74
Zambia       22.22
Zimbabwe     26.85

[164 rows x 1 columns]

In [ ]:
# 8) Qual a número de jogadores por idade?

pd.value_counts(df_fifa['age'])

21    1423
26    1387
24    1358
22    1340
23    1332
      ...
40      13
41       5
44       2
42       1
45       1
Name: age, Length: 29, dtype: int64

In [ ]:
# 9) Quantos jogadores possuem cada clube?

pd.value_counts(df_fifa['club'])

CD Leganés             33
Eintracht Frankfurt    33
Burnley                33
Liverpool              33
Fortuna Düsseldorf     33
                       ..
Paraná                 20
Cruzeiro               20
Sligo Rovers           19
Limerick FC            19
Derry City             18
Name: club, Length: 651, dtype: int64

In [42]:
# 10) Qual a média de idade por clube?

df_fifa.groupby('club').agg({'age':['mean','min','max']}).sort_values(('age','mean'),ascending=False)

                            age
                           mean min max
club
Paraná                    31.60  26  34
Cruzeiro                  30.60  26  34
Atlético Paranaense       30.40  26  34
Botafogo                  30.40  26  34
Chapecoense               30.40  26  34
...                         ...  ..  ..
FC Admira Wacker Mödling  21.93  16  31
FC Sochaux-Montbéliard    21.68  18  28
Bohemian FC               21.48  16  33
FC Groningen              21.42  18  36
FC Nordsjælland           20.26  17  27

[651 rows x 3 columns]

In [62]:
# 11) Qual a média de salário por país?

df_fifa.groupby('nationality').agg({'wage':'mean'}).sort_values('wage',ascending=False)

                          wage
nationality
Dominican Republic    71000.00
United Arab Emirates  39000.00
Gabon                 26933.33
Armenia               22000.00
Croatia               21682.54
...                        ...
Belize                 1000.00
Andorra                1000.00
Jordan                 1000.00
Bolivia                 833.33
India                     0.00

[164 rows x 1 columns]

In [ ]:
# 12) Qual a média de salário por clube?

df_fifa.groupby('club').agg({'wage':'mean'}).sort_values('wage',ascending=False)

                        wage
club
Real Madrid        152030.30
FC Barcelona       146575.76
Juventus           131680.00
Manchester City    113363.64
Manchester United  102757.58
...                      ...
PFC CSKA Moscow      1000.00
Bray Wanderers       1000.00
IF Brommapojkarna    1000.00
Boyacá Chicó FC      1000.00
SK Slavia Praha      1000.00

[651 rows x 1 columns]

In [ ]:
# 13) Qual a média de salário por idade?

df_fifa.groupby('age').agg({'wage':'mean'}).sort_values('wage',ascending=False)

         wage
age
31   15977.37
29   14057.35
32   14045.30
28   13917.35
27   13591.22
..        ...
17    2141.87
41    2000.00
16    1166.67
42    1000.00
44    1000.00

[29 rows x 1 columns]

In [65]:
# 14) Quanto cada clube gasta com pagamento de salários?

df_fifa.groupby('club').agg({'wage':'sum'}).sort_values('wage',ascending=False)

                       wage
club
Real Madrid        5.02e+06
FC Barcelona       4.84e+06
Manchester City    3.74e+06
Manchester United  3.39e+06
Juventus           3.29e+06
...                     ...
Shamrock Rovers    2.20e+04
Dalkurd FF         2.20e+04
Limerick FC        1.90e+04
Derry City         1.90e+04
Sligo Rovers       1.90e+04

[651 rows x 1 columns]

In [ ]:
# 15) Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?

# É O VALOR MÁXIMO QUE O OVERALL DE UM JOGADOR PODERÁ ATINGIR NO FUTURO. SERÁ MAIOR OU IGUAL AO OVERALL.

        id               name  age  ... gkpositioning  gkreflexes  release clause
0   158023           L. Messi   31  ...          14.0         8.0         €226.5M
1    20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
2   190871          Neymar Jr   26  ...          15.0        11.0         €228.1M
3   193080             De Gea   27  ...          88.0        94.0         €138.6M
4   192985       K. De Bruyne   27  ...          10.0        13.0         €196.4M
..     ...                ...  ...  ...           ...         ...             ...
25  231747          K. Mbappé   19  ...          11.0         6.0         €166.1M
26  209331           M. Salah   26  ...          11.0        14.0         €137.3M
27  200145           Casemiro   26  ...          12.0        12.0         €126.4M
28  198710       J. Rodríguez   26  ...           5.0        14.0             NaN
29  198219         L. Insigne   27  ...           9.0        10.0         €105.4M

[30 rows x 85 columns]

In [ ]:
# 16) Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?

In [20]:
# 17) Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?

df_fifa.groupby('club').agg({'potential':'sum','overall':'sum'}).sort_values('potential',ascending=False)

                     potential  overall
club
FC Barcelona              2815     2575
Real Madrid               2793     2582
Manchester City           2769     2532
Manchester United         2728     2549
Chelsea                   2727     2534
...                        ...      ...
Ceará Sporting Club       1354     1354
Dalkurd FF                1337     1255
Sligo Rovers              1242     1076
Derry City                1186     1004
Limerick FC               1164     1036

[651 rows x 2 columns]

In [18]:
df_fifa.groupby('club').agg({'potential':'sum','overall':'sum'}).sort_values('overall',ascending=False)

                   potential  overall
club
Real Madrid             2793     2582
FC Barcelona            2815     2575
Manchester United       2728     2549
Chelsea                 2727     2534
Manchester City         2769     2532
...                      ...      ...
Tromsø IL               1411     1254
Bray Wanderers          1440     1234
Sligo Rovers            1242     1076
Limerick FC             1164     1036
Derry City              1186     1004

[651 rows x 2 columns]

In [ ]:
# 18) Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.

df_fifa[df_fifa['position'] == 'GK'].sort_values('potential',ascending=False)

           id           name  age  ... gkpositioning  gkreflexes  release clause
3      193080         De Gea   27  ...          88.0        94.0         €138.6M
9      200389       J. Oblak   25  ...          88.0        89.0         €144.5M
229    230621  G. Donnarumma   19  ...          78.0        88.0          €55.1M
18     192448  M. ter Stegen   26  ...          85.0        90.0         €123.3M
177    206585           Kepa   23  ...          80.0        84.0          €58.4M
...       ...            ...  ...  ...           ...         ...             ...
18074  243110      Sun Qibin   26  ...          48.0        50.0            €45K
18052  243073  Teng Shangkun   27  ...          45.0        53.0            €45K
18025  211490    J. Miszczuk   27  ...          48.0        51.0            €27K
18043  237917      A. Suzuki   31  ...          52.0        54.0            €25K
18183   53748  K. Pilkington   44  ...          49.0        46.0             NaN

[2025 rows x 85 columns]

In [ ]:
df_fifa[df_fifa['position'] == 'GK'].sort_values('overall',ascending=False)

           id           name  age  ... gkpositioning  gkreflexes  release clause
3      193080         De Gea   27  ...          88.0        94.0         €138.6M
9      200389       J. Oblak   25  ...          88.0        89.0         €144.5M
18     192448  M. ter Stegen   26  ...          85.0        90.0         €123.3M
19     192119    T. Courtois   26  ...          86.0        88.0         €113.7M
22     167495       M. Neuer   32  ...          87.0        87.0          €62.7M
...       ...            ...  ...  ...           ...         ...             ...
18178  243158   L. Wahlstedt   18  ...          45.0        51.0            €94K
18180  221669       M. Hurst   22  ...          50.0        45.0            €78K
18183   53748  K. Pilkington   44  ...          49.0        46.0             NaN
18194  245862       J. Milli   18  ...          40.0        44.0           €109K
18198  242844     J. Livesey   18  ...          42.0        48.0           €165K

[2025 rows x 85 columns]

In [ ]:
# 19) Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?

df_fifa.sort_values('sprintspeed',ascending=False)

           id            name  age  ... gkpositioning  gkreflexes  release clause
1968   213956           Adama   22  ...          12.0         7.0          €22.1M
55     222492         L. Sané   22  ...           9.0        14.0         €125.1M
25     231747       K. Mbappé   19  ...          11.0         6.0         €166.1M
1489   216258        I. Bebou   24  ...          11.0        11.0          €19.7M
36     173731         G. Bale   28  ...           5.0         6.0           €123M
...       ...             ...  ...  ...           ...         ...             ...
13279  239679    P. Mazzocchi   22  ...           NaN         NaN             NaN
13280  244543       Y. Ammour   19  ...           NaN         NaN             NaN
13281  212800  Jwa Joon Hyeop   27  ...           NaN         NaN             NaN
13282  231232      O. Marrufo   25  ...           NaN         NaN             NaN
13283  232256     Han Pengfei   25  ...           NaN         NaN             NaN

[18207 rows x 85 columns]

In [ ]:
# 20) Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?

df_fifa.sort_values('shotpower',ascending=False).head(5)

          id               name  age  ... gkpositioning  gkreflexes  release clause
1      20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
378   189362               Hulk   31  ...          11.0        12.0          €34.1M
1348  169051          F. Guarín   32  ...          15.0        13.0          €12.9M
890   150516        L. Podolski   33  ...           9.0         9.0           €8.1M
36    173731            G. Bale   28  ...           5.0         6.0           €123M

[5 rows x 85 columns]

In [ ]:
# 21) Quem são os outliers em termos de salário?

# Vamos usar o método np.percentile(array, q = [p1, p2, p3, ..., p99])
percentis = np.percentile(df_fifa['wage'], q = [1, 5, 25, 50, 55, 75, 99])

# Primeiro Quartil
q1 = percentis[2]
q3 = percentis[5]
lim_inferior_outlier = q1 - 1.5 * (q3 - q1)
lim_superior_outlier = q3 + 1.5 * (q3 - q1)

print(lim_inferior_outlier)
print(q1)
print(q3)
print(lim_superior_outlier)
print(percentis[-1])

#df_fifa[df_fifa['wage'] > lim_superior_outlier]
df_fifa[df_fifa['wage'] > percentis[-1]]

-11000.0
1000.0
9000.0
21000.0
105000.0

          id               name  age  ... gkpositioning  gkreflexes  release clause
0     158023           L. Messi   31  ...          14.0         8.0         €226.5M
1      20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
2     190871          Neymar Jr   26  ...          15.0        11.0         €228.1M
3     193080             De Gea   27  ...          88.0        94.0         €138.6M
4     192985       K. De Bruyne   27  ...          10.0        13.0         €196.4M
...      ...                ...  ...  ...           ...         ...             ...
700   176944        M. Fellaini   30  ...          15.0        16.0          €21.3M
717   152908           A. Young   32  ...          16.0        15.0            €13M
1007  220253              Munir   22  ...          13.0        16.0          €28.1M
1037  157304       T. Vermaelen   32  ...          11.0        15.0          €10.3M
1045  143745           A. Turan   31  ...          12.0        11.0             NaN

[172 rows x 85 columns]

In [ ]:
# 22) Quem são os outliers em termos de potência no chute?

# NÃO HÁ

percentis = np.percentile(df_fifa[~np.isnan(df_fifa['shotpower'])]['shotpower'], q = [1, 5, 25, 50, 55, 75, 99])

q1 = percentis[2]
q3 = percentis[5]
lim_inferior_outlier = q1 - 1.5 * (q3 - q1)
lim_superior_outlier = q3 + 1.5 * (q3 - q1)

print(lim_inferior_outlier)
print(q1)
print(q3)
print(lim_superior_outlier)
print(percentis[-1])

#df_fifa[df_fifa['shotpower'] > lim_superior_outlier]
df_fifa[df_fifa['shotpower'] > percentis[-1]].sort_values('shotpower',ascending=False)

10.5
45.0
68.0
102.5
84.0

          id               name  age  ... gkpositioning  gkreflexes  release clause
1      20801  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
378   189362               Hulk   31  ...          11.0        12.0          €34.1M
1348  169051          F. Guarín   32  ...          15.0        13.0          €12.9M
36    173731            G. Bale   28  ...           5.0         6.0           €123M
102   171919              Naldo   35  ...           8.0        14.0          €15.3M
...      ...                ...  ...  ...           ...         ...             ...
884   189165         J. Shelvey   26  ...           8.0        16.0          €24.7M
872   180432           Hernanes   33  ...           6.0         6.0          €12.9M
865   193198          N. Gudelj   26  ...          14.0        12.0             NaN
721   124375          B. Yılmaz   32  ...           8.0        12.0            €20M
8695  175598          Zhao Xuri   32  ...          16.0        11.0           €1.2M

[145 rows x 85 columns]