<a href="https://colab.research.google.com/github/rafaelhamer/DSWP/blob/master/Labdata_Churn_Adaboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
def mostra_missing_value(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = 100*round((df.isnull().sum()/df.isnull().count()).sort_values(ascending = False), 2)
    missing_data = pd.concat([total, percent], axis = 1, keys=['Total', 'Percentual'])
    print(missing_data.head(10))

## Lendo os dados de Treino e Teste

In [4]:
df_train = pd.read_csv('/gdrive/My Drive/Python/treino_limpo.csv', index_col='id')
df_test  = pd.read_csv('/gdrive/My Drive/Python/teste_limpo.csv', index_col='id')

In [ ]:
df_train.dtypes

SeniorCitizen             int64
tenure                  float64
MonthlyCharges          float64
TotalCharges            float64
Churn                     int64
gender_num                int64
Partner_num               int64
Dependents_num            int64
PhoneService_num          int64
MultipleLines_num         int64
InternetService_num       int64
OnlineSecurity_num        int64
OnlineBackup_num          int64
DeviceProtection_num      int64
TechSupport_num           int64
StreamingTV_num           int64
StreamingMovies_num       int64
Contract_num              int64
PaperlessBilling_num      int64
PaymentMethod_num         int64
dtype: object

In [ ]:
mostra_missing_value(df_train)

In [ ]:
mostra_missing_value(df_test)

In [ ]:
df_train.head()

      SeniorCitizen     tenure  ...  PaperlessBilling_num  PaymentMethod_num
id                              ...
4030              0  56.000000  ...                     0                  4
6731              0  16.928753  ...                     0                  3
6479              0  60.000000  ...                     1                  1
6861              0  37.000000  ...                     1                  0
3266              0  29.000000  ...                     1                  2

[5 rows x 20 columns]

In [ ]:
df_test.head()

      SeniorCitizen  tenure  ...  PaperlessBilling_num  PaymentMethod_num
id                           ...
5027              0    23.0  ...                     1                  1
1733              1    61.0  ...                     0                  4
5384              0    36.0  ...                     1                  2
6554              0    61.0  ...                     1                  0
364               0    47.0  ...                     1                  3

[5 rows x 19 columns]

## Treinando o Modelo

In [6]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification

In [7]:
dt = AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.373, n_estimators=100, random_state=123)

X_train = df_train.drop('Churn', axis=1)
y_train = df_train['Churn']

dt.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
                   learning_rate=0.373, n_estimators=100, random_state=123)

In [8]:
my_predictions = dt.predict(df_test)

## Submetendo a Solução

In [9]:
submission = pd.read_csv('/gdrive/My Drive/Python/sample_submission.csv')
submission['Churn'] = my_predictions
submission.to_csv('/gdrive/My Drive/Python/ChurnAdaBoost.csv', index=False)
submission.head(10)

     id  Churn
0  5027      0
1  1733      0
2  5384      1
3  6554      0
4   364      0
5  2093      0
6  6966      0
7  5076      0
8  5746      0
9  5461      0